<LoadMore @selector=".user-info" @action={{action "loadMore"}}>
  <div class="cakeday-months">
    <h2 class="cakeday-header">{{i18n "birthdays.month.title"}}</h2>
    <ComboBox
      @content={{months}}
      @value={{month}}
      @valueAttribute="value"
      @none="cakeday.none"
    />
  </div>

  <ConditionalLoadingSpinner @condition={{model.loading}}>
    <UserInfoList @users={{model}} @isBirthday={{true}}>
      {{i18n "birthdays.month.empty"}}
    </UserInfoList>
  </ConditionalLoadingSpinner>

  <ConditionalLoadingSpinner @condition={{model.loadingMore}} />
</LoadMore>