<LoadMore @selector=".user-info" @action={{action "loadMore"}}>
  <div class="cakeday-months">
    <h2 class="cakeday-header">{{i18n "birthdays.month.title"}}</h2>
    <ComboBox
      @content={{this.months}}
      @value={{this.month}}
      @valueAttribute="value"
      @none="cakeday.none"
    />
  </div>

  <ConditionalLoadingSpinner @condition={{this.model.loading}}>
    <UserInfoList @users={{this.model}} @isBirthday={{true}}>
      {{i18n "birthdays.month.empty"}}
    </UserInfoList>
  </ConditionalLoadingSpinner>

  <ConditionalLoadingSpinner @condition={{this.model.loadingMore}} />
</LoadMore>