<h2 class="cakeday-header">{{title}}</h2>

<LoadMore @selector=".user-info" @action={{action "loadMore"}}>
  <ConditionalLoadingSpinner @condition={{model.loading}}>
    <UserInfoList @users={{model}} @isBirthday={{true}}>
      {{i18n "birthdays.today.empty"}}
    </UserInfoList>
  </ConditionalLoadingSpinner>

  <ConditionalLoadingSpinner @condition={{model.loadingMore}} />
</LoadMore>