<div class="anniversaries">
  <h3 class="cakeday-header">{{todayAnniversariesTitle}}</h3>
  {{#user-info-list users=model.extras.today}}
    {{i18n "anniversaries.today.empty"}}
  {{/user-info-list}}

  <h3 class="cakeday-header">{{i18n "anniversaries.upcoming.title"}}</h3>
  {{#user-info-list users=model.extras.upcoming}}
    {{i18n "anniversaries.upcoming.empty"}}
  {{/user-info-list}}

  {{#load-more selector=".user-info" action="loadMore"}}
    <div class="cakeday-months">
      <h3 class="cakeday-header">{{i18n "anniversaries.month.title"}}</h3>
      {{combo-box content=months
          value=month
          valueAttribute="value"
          none="cakeday.none"}}
    </div>

    {{#conditional-loading-spinner condition=model.loading}}
      {{#user-info-list users=model}}
        {{i18n "anniversaries.month.empty"}}
      {{/user-info-list}}
    {{/conditional-loading-spinner}}

    {{conditional-loading-spinner condition=model.loadingMore}}
  {{/load-more}}
</div>
